@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

  :root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  --primary: #003B6B;
  --accent: #0C528F;
  --secondary: #315CAA;
  --warning: #FACC15;

  --canvas: #EFE8D8;
  --surface: #FFFFFF;

  --text-primary: #1E293B;
  --text-secondary: #64748B;
  --text-light: #94A3B8;

  --success: #6B7280;
  --border: #D6D3D1;

 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}



body {
  margin: 0;
  padding: 0;
  background: var(--surface);
  color: var(--text-primary);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button {
  transition: 0.2s ease;
}

button:hover {
  opacity: 0.9;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--primary) !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 3px;
}